<a href="https://colab.research.google.com/github/ricardodhuelsmann/python_bibliotecas/blob/main/Pandas/3_Filtros_e_condicionais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas
###Filtrando dados

In [1]:
import pandas as pd
df = pd.read_csv('pokemon_dados_modificados.csv')

###Filtrando dados por tipo

In [2]:
df.loc[df['Type 1'] == 'Water']

       #                     Name Type 1  ... Speed  Generation  Legendary
9      7                 Squirtle  Water  ...    43           1      False
10     8                Wartortle  Water  ...    58           1      False
11     9                Blastoise  Water  ...    78           1      False
12     9  BlastoiseMega Blastoise  Water  ...    78           1      False
59    54                  Psyduck  Water  ...    55           1      False
..   ...                      ...    ...  ...   ...         ...        ...
724  656                  Froakie  Water  ...    71           6      False
725  657                Frogadier  Water  ...    97           6      False
726  658                 Greninja  Water  ...   122           6      False
762  692                Clauncher  Water  ...    44           6      False
763  693                Clawitzer  Water  ...    59           6      False

[112 rows x 13 columns]

In [ ]:
df.loc[df['Type 1'] == 'Water'].describe()

###Filtrando por duas ou mais classes, e salvando em novo DataFrame

In [8]:
novo_df = df.loc[(df['Type 1'] == 'Water') & (df['HP'] > 100) & (df['Attack'] < 100)]
novo_df

       #        Name Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
142  131      Lapras  Water       Ice  ...       95     60           1      False
145  134    Vaporeon  Water       NaN  ...       95     65           1      False
185  171     Lanturn  Water  Electric  ...       76     67           2      False
350  320     Wailmer  Water       NaN  ...       35     60           3      False
351  321     Wailord  Water       NaN  ...       45     60           3      False
372  340    Whiscash  Water    Ground  ...       71     60           3      False
470  423   Gastrodon  Water    Ground  ...       82     39           4      False
597  537  Seismitoad  Water    Ground  ...       75     74           5      False
655  594   Alomomola  Water       NaN  ...       45     65           5      False

[9 rows x 13 columns]

In [9]:
novo_df.describe()

                #       Total          HP  ...    Sp. Def      Speed  Generation
count    9.000000    9.000000    9.000000  ...   9.000000   9.000000         9.0
mean   330.111111  482.444444  130.666667  ...  68.777778  61.111111         3.0
std    167.620438   40.783303   23.000000  ...  22.129041   9.518987         1.5
min    131.000000  400.000000  105.000000  ...  35.000000  39.000000         1.0
25%    171.000000  468.000000  111.000000  ...  45.000000  60.000000         2.0
50%    321.000000  475.000000  130.000000  ...  75.000000  60.000000         3.0
75%    423.000000  509.000000  130.000000  ...  82.000000  65.000000         4.0
max    594.000000  535.000000  170.000000  ...  95.000000  74.000000         5.0

[8 rows x 9 columns]

###Resetar índice do DataFrame

In [10]:
novo_df = novo_df.reset_index(drop=True)
novo_df

     #        Name Type 1    Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  131      Lapras  Water       Ice  ...       95     60           1      False
1  134    Vaporeon  Water       NaN  ...       95     65           1      False
2  171     Lanturn  Water  Electric  ...       76     67           2      False
3  320     Wailmer  Water       NaN  ...       35     60           3      False
4  321     Wailord  Water       NaN  ...       45     60           3      False
5  340    Whiscash  Water    Ground  ...       71     60           3      False
6  423   Gastrodon  Water    Ground  ...       82     39           4      False
7  537  Seismitoad  Water    Ground  ...       75     74           5      False
8  594   Alomomola  Water       NaN  ...       45     65           5      False

[9 rows x 13 columns]

###Filtros avançados (Regular Expressions - re)

In [11]:
import re

In [14]:
df_filtrado = df.loc[df['Name'].str.contains('Mega')]
df_filtrado

       #                       Name    Type 1  ... Speed  Generation  Legendary
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
71    65      AlakazamMega Alakazam   Psychic  ...   150           1      False
87    80        SlowbroMega Slowbro     Water  ...    30           1      False
102   94          GengarMega Gengar     Ghost  ...   130           1      False
124  115  KangaskhanMega Kangaskhan    Normal  ...   100           1      False
137  127          PinsirMega Pinsir       Bug  ...   105           1      False
141  130      GyaradosMega Gyarados     Water  ...    81           1      False
154  142  AerodactylMega Aerodactyl      Rock  ...   150           1      False
163  150        MewtwoMega Mewtwo X   Psychic  ...   130           1       True
164  150        MewtwoMega Mewtwo Y   Psychic  ...   140           1       True
168  154                   Meganium     Grass  ...    80           2      False
196  181      AmpharosMega Ampharos  Electric  ...    45           2      False
224  208        SteelixMega Steelix     Steel  ...    30           2      False
229  212          ScizorMega Scizor       Bug  ...    75           2      False
232  214    HeracrossMega Heracross       Bug  ...    75           2      False
248  229      HoundoomMega Houndoom      Dark  ...   115           2      False
268  248    TyranitarMega Tyranitar      Rock  ...    71           2      False
275  254      SceptileMega Sceptile     Grass  ...   145           3      False
279  257      BlazikenMega Blaziken      Fire  ...   100           3      False
283  260      SwampertMega Swampert     Water  ...    70           3      False
306  282    GardevoirMega Gardevoir   Psychic  ...   100           3      False
327  302        SableyeMega Sableye      Dark  ...    20           3      False
329  303          MawileMega Mawile     Steel  ...    50           3      False
333  306          AggronMega Aggron     Steel  ...    50           3      False
336  308      MedichamMega Medicham  Fighting  ...   100           3      False
339  310    ManectricMega Manectric  Electric  ...   135           3      False
349  319      SharpedoMega Sharpedo     Water  ...   105           3      False
354  323      CameruptMega Camerupt      Fire  ...    20           3      False
366  334        AltariaMega Altaria    Dragon  ...    80           3      False
387  354        BanetteMega Banette     Ghost  ...    75           3      False
393  359            AbsolMega Absol      Dark  ...   115           3      False
397  362          GlalieMega Glalie       Ice  ...   100           3      False
409  373    SalamenceMega Salamence    Dragon  ...   120           3      False
413  376    MetagrossMega Metagross     Steel  ...   110           3      False
418  380          LatiasMega Latias    Dragon  ...   110           3       True
420  381          LatiosMega Latios    Dragon  ...   110           3       True
426  384      RayquazaMega Rayquaza    Dragon  ...   115           3       True
476  428        LopunnyMega Lopunny    Normal  ...   135           4      False
494  445      GarchompMega Garchomp    Dragon  ...    92           4      False
498  448        LucarioMega Lucario  Fighting  ...   112           4      False
511  460    AbomasnowMega Abomasnow     Grass  ...    30           4      False
527  475        GalladeMega Gallade   Psychic  ...   110           4      False
591  531          AudinoMega Audino    Normal  ...    50           5      False
796  719        DiancieMega Diancie      Rock  ...   110           6       True

[49 rows x 13 columns]

In [15]:
df_filtrado = df.loc[df['Type 1'].str.contains('water|fire', regex=True)]
df_filtrado

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [17]:
#Ignora upper case
df_filtrado = df.loc[df['Type 1'].str.contains('water|fire', flags= re.I, regex=True)]
df_filtrado

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
..   ...                        ...    ...  ...   ...         ...        ...
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
762  692                  Clauncher  Water  ...    44           6      False
763  693                  Clawitzer  Water  ...    59           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[164 rows x 13 columns]

In [19]:
#Encontrar nomes que comecem com "Pi"
df_filtrado = df.loc[df['Name'].str.contains('^pi[a-z]*', flags= re.I, regex=True)]
df_filtrado

       #                 Name    Type 1  ... Speed  Generation  Legendary
20    16               Pidgey    Normal  ...    56           1      False
21    17            Pidgeotto    Normal  ...    71           1      False
22    18              Pidgeot    Normal  ...   101           1      False
23    18  PidgeotMega Pidgeot    Normal  ...   121           1      False
30    25              Pikachu  Electric  ...    90           1      False
136  127               Pinsir       Bug  ...    85           1      False
137  127    PinsirMega Pinsir       Bug  ...   105           1      False
186  172                Pichu  Electric  ...    60           2      False
219  204               Pineco       Bug  ...    15           2      False
239  221            Piloswine       Ice  ...    50           2      False
438  393               Piplup     Water  ...    40           4      False
558  499              Pignite      Fire  ...    55           5      False
578  519               Pidove    Normal  ...    43           5      False

[13 rows x 13 columns]

###Troca condicional

In [21]:
#Pode ser uma alternativa para traduzir tabelas
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Fogo'
df.loc[df['Type 1'] == 'Water', 'Type 1'] = 'Água'
df.loc[df['Type 1'] == 'Grass', 'Type 1'] = 'Grama'
df.loc[df['Type 1'] == 'Rock', 'Type 1'] = 'Pedra'
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grama  ...    45           1      False
1      2                Ivysaur    Grama  ...    60           1      False
2      3               Venusaur    Grama  ...    80           1      False
3      3  VenusaurMega Venusaur    Grama  ...    80           1      False
4      4             Charmander     Fogo  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie    Pedra  ...    50           6       True
796  719    DiancieMega Diancie    Pedra  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fogo  ...    70           6       True

[800 rows x 13 columns]

In [24]:
#Cria um atributo, e atribui valor dependendo de condicional
df.loc[df['HP'] > 50, ['Novo atributo']] = 'TOP'
df.loc[df['HP'] <= 50, ['Novo atributo']] = 'low'
df

       #                   Name   Type 1  ... Generation  Legendary  Novo atributo
0      1              Bulbasaur    Grama  ...          1      False            low
1      2                Ivysaur    Grama  ...          1      False            TOP
2      3               Venusaur    Grama  ...          1      False            TOP
3      3  VenusaurMega Venusaur    Grama  ...          1      False            TOP
4      4             Charmander     Fogo  ...          1      False            low
..   ...                    ...      ...  ...        ...        ...            ...
795  719                Diancie    Pedra  ...          6       True            low
796  719    DiancieMega Diancie    Pedra  ...          6       True            low
797  720    HoopaHoopa Confined  Psychic  ...          6       True            TOP
798  720     HoopaHoopa Unbound  Psychic  ...          6       True            TOP
799  721              Volcanion     Fogo  ...          6       True            TOP

[800 rows x 14 columns]

In [27]:
#Removendo coluna adicionada
df = df.drop(columns=['Novo atributo'])
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grama  ...    45           1      False
1      2                Ivysaur    Grama  ...    60           1      False
2      3               Venusaur    Grama  ...    80           1      False
3      3  VenusaurMega Venusaur    Grama  ...    80           1      False
4      4             Charmander     Fogo  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie    Pedra  ...    50           6       True
796  719    DiancieMega Diancie    Pedra  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fogo  ...    70           6       True

[800 rows x 13 columns]

In [28]:
#Adicionando valores a duas colunas simultaneamente
df.loc[df['Total'] > 500, ['Atributo 1', 'Atributo 2']] = ['TOP', 'EXTRA']
df

       #                   Name   Type 1  ... Legendary  Atributo 1  Atributo 2
0      1              Bulbasaur    Grama  ...     False         NaN         NaN
1      2                Ivysaur    Grama  ...     False         NaN         NaN
2      3               Venusaur    Grama  ...     False         TOP       EXTRA
3      3  VenusaurMega Venusaur    Grama  ...     False         TOP       EXTRA
4      4             Charmander     Fogo  ...     False         NaN         NaN
..   ...                    ...      ...  ...       ...         ...         ...
795  719                Diancie    Pedra  ...      True         TOP       EXTRA
796  719    DiancieMega Diancie    Pedra  ...      True         TOP       EXTRA
797  720    HoopaHoopa Confined  Psychic  ...      True         TOP       EXTRA
798  720     HoopaHoopa Unbound  Psychic  ...      True         TOP       EXTRA
799  721              Volcanion     Fogo  ...      True         TOP       EXTRA

[800 rows x 15 columns]